@charset "utf-8";

body {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

button {
	font-size: 18px;
	border: none;
	color: white;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 12px;
	margin: 3px;
}

button:disabled {
	background-color: grey;
}

/* TIME STYLES */

.time {
	font-size: 72px;
	font-weight: bold;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

.laptime {
	font-size: 28px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

/* BUTTON STYLES */

.start {
	background-color: darkolivegreen;
}

.stop {
	background-color: darkred;
}

.reset {
	background-color: #C08837;
}

.lap {
	background-color:#284B87;
}
